<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{admin/fragments :: head(${pageTitle})}"/>
<body>
<nav th:replace="~{admin/fragments :: nav(${activePage})}"></nav>
<div class="container">
    <a th:href="@{/_admin/users}" class="btn btn-outline-secondary btn-sm mb-3">&larr; Back to Users</a>
    <h1>Create a new Admin User</h1>
    <div class="card mt-3">
        <div class="card-body">
            <form th:object="${adminUserCreateForm}" th:action="@{/_admin/users/save}" method="post">
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" id="username" th:field="*{username}" class="form-control" th:classappend="${#fields.hasErrors('username')} ? 'is-invalid'">
                    <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="invalid-feedback"></div>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" id="password" th:field="*{password}" class="form-control" th:classappend="${#fields.hasErrors('password')} ? 'is-invalid'">
                    <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="invalid-feedback"></div>
                </div>
                <div class="mb-3">
                    <label for="role" class="form-label">Role</label>
                    <select id="role" th:field="*{role}" class="form-select" th:classappend="${#fields.hasErrors('role')} ? 'is-invalid'">
                        <option value="" th:selected="${adminUserCreateForm.role == null}">Choose role...</option>
                        <option th:each="role : ${adminUserRoles}" th:value="${role}" th:text="${role}"></option>
                    </select>
                    <div th:if="${#fields.hasErrors('role')}" th:errors="*{role}" class="invalid-feedback"></div>
                </div>
                <button type="submit" class="btn btn-primary">Create User</button>
            </form>
        </div>
    </div>
</div>
<script th:replace="~{admin/fragments :: scripts}"></script>
</body>
</html>
